@import './bootstrap.scss';
@import './global';

:root{
  --clip-path-diamond: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

.btn-primary{
  --bs-btn-hover-bg: #FF9DBA;
}
.btn-secondary{
  --bs-btn-hover-bg: #825353;
}


.vc-light{
  --vc-nav-item-active-bg: var(--bs-secondary);
  --vc-nav-item-current-color: var(--bs-secondary);
  --vc-focus-ring: var(0 0 0 2px #ece5e5);
  .vc-attr{
    --vc-highlight-solid-bg: var(--bs-secondary);
  }
}

.vc-arrow, .vc-title, .vc-nav-item, .vc-nav-title, .vc-nav-arrow{
  background: transparent;
}